.sans {
	font-family: 'Nunito', sans-serif;
}

.serif {
	font-family: 'Cinzel', serif;
}

.light {
	font-weight: 300;
}

a, span, p, ul, li {
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}

.fixed-top {
	background: rgba(255, 255, 255, 0.5);
}

.slider{
	background: url("./images/bg-11.jpg") center center no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo-xl{
	position: relative;
	height: 600px;
	min-height: 500px;
	background: url("./images/logo-xl.png");
}

.border-right {
	border-right: 1px solid #84878c;
}

.border-left {
	border-left: 1px solid #84878c;
}

.servicios{
	background-color: rgb(1, 91, 126);
	position: relative;
}

.clientes{
	background: url("./images/logo-xl.png");
	background-size: cover;
	background-position: bottom;
}

.clientes h2 {
	color: #84878c;
}

.aliados{
	background-color:rgb(223, 234, 238);
}

.filosofia{
	background: url("./images/equipo2_gris.jpg");
	height: 550px;
	min-height: 500px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.filosofia h1 {
	color: #244677;
}

.filosofia-pills.nav-pills .nav-link {
	background: none;
	color: white;
	/*font-size: 18px;*/
}

.filosofia-pills.nav-pills .nav-link.active {
	background: none;
	color: #244677;
}

.filosofia-pills.nav-pills .nav-link.active::after {
	width: 100px;
	height: 2px;
	border-bottom: 1px solid #244677;
	display: block;
	content: "";
	margin: 0 auto;
}

.filosofia-tab-content .tab-pane p {
	color: white;
	font-size: 18px;
}

.filosofia-tab-content .tab-pane ul {
	color: white;
	font-size: 18px;
	margin-top: -30px;
}

.overlay-computer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("images/img-1.png") no-repeat 60% bottom;
}

.blue-font {
	color: #244677;
}

.gray-font {
	color: #84878c;
}

.white-font {
	color: white;
}

.videos-slick div{
	max-width: 400px;
}

.carousel-control-next,
.carousel-control-prev {
    background: rgba(0 ,0 ,0 , 0.4);
}

.carousel-item iframe{
	width: 80%;
	margin: 0 auto;
	display: block;
}
/* Custom styles */

.mc-cv {
	color: #84878c;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}

.mc-dropdown {
	background: #e3e4e5;
	border: none;
	padding: 0;
}

.line {
	border-top: 1px solid #244677;
	margin: 0 30px;
	margin-bottom: 15px;
}

.mc-hamburguer {
	cursor: pointer;
	border: none;
	background: none;
}

.mc-dropdown-title {
	padding: 0 15px 7px 15px;
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	color: #244677;
}

.mc-dropdown-title a{
        color: #244677;
}

.mc-dropdown-item {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer{
	background-color: rgb(195, 199, 208);
}

.blue{
	color: rgb(1, 91, 126);
	margin-top: 5px;
}

.margin-1{
	margin-right: 18px;
}

p.blue{
	margin: 0;
}

.inblock{
	display: inline-block;
}

.mc-direccion{
	width: calc(100% - 35px);
	margin-bottom: 0;
}

.blue-half-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(161, 195, 208,0.5);
}

.blue-half-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: rgba(0, 91, 127, 0.5);
}

.menu-startup:hover{
	background: rgb(1, 60, 104);
	cursor: pointer;
}

.menu-startup svg>g{
	opacity: 0.53;
}

.menu-startup:hover svg>g{
	opacity: 1;
}

.menu-startup:hover svg path{
	fill: white;
}

.menu-startup h5{
	line-height: 1.5;
	width: 100%;
}

.menu-startup p{
	line-height: 2.5;
}

.menu-startup .menu-title {
	display: flex;
	width: 100%;
	vertical-align: middle;
	height: 80px;
	align-items: center;
}

/*    */

.aliados-form {
	background: rgba(0,91,127, 0.39);
}

.border-white {
	border-top: none;
	border-bottom: none;
	border-right: rgb(0, 0, 0) solid 1px;
	border-left: rgb(0, 0, 0) solid 1px;
}

.h-100 {
	position: relative;
	height: 100%;
}

.bottom-to-top {
    border-width: 1px;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(white), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, white, rgba(0, 0, 0, 0)) 1 100%;
}

.tt-u {
	text-transform: uppercase;
}

.btn-form {
	background: none;
	border: 1px solid white;
	cursor: pointer;
	border-radius: 0;
}

/* modal */

.cursoModal {
	/*background: rgb(1, 60, 104);*/
	background: rgb(1, 91, 126);
}
.cursoModal .modal-dialog .modal-content{
	background: rgb(1, 60, 104);
	color: white;
}

.cursoModal .modal-dialog .modal-content .close{
	cursor: pointer;
	color: white;
}

.mc-btn {
	background: none;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}

.modal-header h5{
	font-size: 24px;
}

.modal-body p {
	line-height: 1.5;
	font-size: 14px;
}

.modal-header,
.modal-footer,
.modal-body {
	border: none;
}

.line-modal {
	width: 200px;
	border-bottom: 1px solid white;
	height: 2px;
	margin-left: 15px;
}

#emailModal {
	z-index: 1060;
	background: rgba(255, 255, 255, 0.6);
}

#emailModal .modal-dialog .modal-content{
	background: rgb(1, 60, 104);
	color: white;
}

#emailModal-2 .modal-dialog .modal-content .close,
#emailModal .modal-dialog .modal-content .close{
	cursor: pointer;
	color: white;
}

#emailModal {
	z-index: 1060;
	background: rgba(255, 255, 255, 0.6);
}

#emailModal .modal-dialog .modal-content{
	color: white;
}

#emailModal .modal-dialog .modal-content .close{
	cursor: pointer;
	color: white;
}

#emailModal-2 .modal-content{
	background: #88b1c3;
}

#emailModal-2 .modal-content .aliados-form{
	background: #88b1c3;
}

.aviso-privacidad {
	margin-top: 120px;
}

.equipo {

}

.small-img {
	width: 50px;
	height: auto;
}

.big-img {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

@media (min-width: 992px){
	.modal-lg {
    max-width: 1000px;
	}

}

.btn {
	cursor: pointer;
}

.wa-icon {
	width: 19px;
	height: auto;
	margin-right: 15px;
}

.tw-icon {
	height: 21px;
}

.yt-icon {
	width: auto;
	height: 21px;
}

.btn-border {
	background: none;
}

.aliados .nav-pills .nav-link.active {
	background-color: transparent;
}

.aliados .nav-pills .nav-link.active img{
	opacity: 0.6;
}

#soluciones-link {
	cursor: pointer;
}

.slick-slide {
    outline: 0;
}

@media (min-width: 992px) { 
	
	.carousel-control-next {
		right: -50px;
		width: 50px;
	}

	.carousel-control-prev {
    	left: -50px;
    	width: 50px;
	}

	.carousel-item iframe{
		width: 33%;
		display: inline;
	}

	.hidden-mobile {
		display: none;
	}

}

/*phone */
@media (max-width: 576px) { 
	
	.menu-startup .bottom-to-top {
		border: none;
	}

	.blue-half-1,
	.blue-half-2 {
		width: 100%;
	}

	.filosofia {
		height: auto;
		min-height: 700px;
	}


	.hidden-desktop {
		display: none;
	}

	.pills-container.justify-content-end {
		justify-content: center !important;
		margin-bottom: 60px;
	}
	
	.contacto-social.align-items-center.pr-5 {
		justify-content: center !important;
		padding-right: 0 !important;
	}

	.contacto-info {
		margin-top: 30px;
	}

	.responsive-image {
		width: 100%;
		height: auto;
	}

	.header-social a{
		display: none;
	}
}
